:root {
    --celed-component-color: #001f3f;
}

.celed-component {
    border: var(--celed-component-color) var(--border-size) var(--border-type);
    margin: 70px;
    padding: 30px;
    border-radius: var(--border-radius);
    background-color: var(--celed-component-color);
    box-shadow: 10px 10px 5px 12px rgba(0, 0, 255, .2);
}

.podceled-component {
    padding-left: 50px;
}