:root {
    --padding-bottom: 10px;
    --border-radius: 50px;
}

.title {
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
}

.jednodelozne-list {
    background-color: sienna;
    padding-bottom: var(--padding-bottom);
    border-radius: var(--border-radius);
}

.dvoudelozne-list {
    background-color: forestgreen;
    padding-bottom: var(--padding-bottom);
    border-radius: var(--border-radius);
    margin-bottom: 60px;
}