:root {
    --border-size: 1px;
    --border-type: solid;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border: var(--zastupce-card-color) var(--border-size) var(--border-type);
    border-radius: var(--border-radius);


    background-color: var(--zastupce-card-color);

    margin-left: var(--margin);
    margin-right: var(--margin);

}

.small-title {
    font-size: 90px;
    color: var(--celed-component-color);
    text-decoration: none;
}

#title-spacing {
    font-size: 90px;
    color: var(--celed-component-color);
    text-decoration: none;
}

.small-title:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em var(--main-background-color), 0 0 0.2em var(--main-background-color);
}